body {
    background-image: url("https://ae01.alicdn.com/kf/HTB1QJ.1aOzxK1RjSspjq6AS.pXa8.jpg_q50.jpg");
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    display: block;
}

main {
    background: #B8860B;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    padding: 1rem 0;
}

h1 {
    margin: 3rem 1rem 6rem 1rem;
}

h2 {
    margin: auto 2rem;
}

.hogwartsCrest {
    max-width: 80%;
    max-width: 20rem;
    margin: 1rem;
}

#Houses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}